html{
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    height: 100%;
}

body {
    background-color: #FFF4E0;
    height: 100%;
  }

.nav-title{
    color: #FA7070;
}

.buttons {
    margin-top: 20px;
}

nav{
    background-color: #FFBF9B;
}




.intro {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 100%;
}

.jumbotron {
    background-color: transparent;
    background-color: #FFBF9B;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



/** Typewriter effect uses code from: https://css-tricks.com/snippets/css/typewriter-effect/ **/

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #B46060; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end ;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #B46060; }
  }
